<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<h1>JobTracker Admin Portal</h1>

<nav class="navbar navbar-expand navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/jobPostings">Job Postings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/companies">Companies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/roles">Roles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/skills">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/skillPlans">Skill Plans</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/postingsSkills">Postings Skills</a>
      </li>
    </ul>
  </div>
</nav>

<p>
JobTracker is a practical solution for ambitious jobseekers navigating today’s competitive job market. 
This system allows users to manage up to 1,000 job postings from various companies, track 100 unique 
skills required across these positions, and maintain a list of 50 personal qualifications. By connecting 
these elements, JobTracker enables users to match their skills to job requirements, identify skill gaps, 
and track application statuses across dozens of companies. Each user manages their own set of job postings, 
applications, skills, and skill development plans, providing a personalized tool for organized job searching 
and skill attainment. The system aims to streamline the job-hunting process, turning a typically overwhelming 
task into a more manageable, data-driven approach.
</p>

<footer>
    <p>&copy; 2024 - Emily Ramage and Yingjuan Xu. All rights reserved.</p>
</footer>