
/* Nav Bar */
.navbar-nav .nav-item .nav-link.active {
    background-color: #5d85c1;
    color: white;
    border-radius: 5px;
}


.mt-5-bottom-spacing {
    margin-bottom: 2rem; 
}

.text-gray {
    color: gray;
  }

.text-primary-bold {
    color: #007bff;
    font-weight: bold;
}

.middle-container {
    margin-bottom: 3rem; 
  }

  .card-body {
    display: flex;
    align-items: start;
  }

.card-body svg {
    margin-right: 10px; 
    width: 75px;
    height: 75px;
    fill: none;
    stroke: #884dc0;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.card-body .text-left {
    text-align: left;
  }

  .separator {
    height: 0.5px;
    background-color: #ccc;
    margin: 50px;
}

.footer {
    position: fixed;
    /* margin-top: 3rem; */
    bottom: 0;
    width: 100%;
}

/* General table styles */
.custom-table {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Add Bootstrap-like classes for flexibility */
.custom-table-bordered {
    border: 1px solid #dee2e6;
}

.custom-table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

/* Caption styling */
.custom-table caption {
    caption-side: top;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #6c757d;
    text-align: left;
    font-weight: bold;
}

/* Responsive table */
.custom-table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: 0 20px 20px 20px;
}

/* Table header */
.custom-table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background-color: #f8f9fa;
}

/* Table cells */
.custom-table td, .custom-table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

/* Hover effect */
.custom-table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

/* Truncate long content */
.custom-table .truncate {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.editing .editable {
    padding: 0;
  }
  
  .editing .editable input,
  .editing .editable select,
  .editing .editable textarea {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: none;
    background-color: #f8f9fa;
  }
  
  .editing .editable textarea {
    resize: vertical;
  }